# **Hello World**

In [ ]:
#This is my code snippet

def HelloWord():
  print("Hello word")


HelloWord()

Hello word

Three take aways from this area of learning using python:


*   Takeaway 1
*   Takeaway 2

# **Control Flow**

In [ ]:
#This is my code snippet
def HelloWord():
  print("Hello word")

Three take aways from this area of learning using python:


*   Takeaway 1
*   Takeaway 2

# Comments

In [ ]:
# display the word hello world
print("hello world")

hello world

#**Conditional Statements**

## if statements

In [ ]:
#Challenge 1
# In our first challenge, we will find out if y is less than 7
# If so, we will print out yes.
#

# We first declare and assign 1 to variable x and 7 to variable y
x = 1
y = 7

if y < 7:
   print("yes")

## elif statements

In [ ]:
# Challenge 2
# Let's now write a program that reads an integer
# from a user then displays a message indicating
# whether the integer is even or odd.
#
num =  input("Please enter a number: ")
number = int(num)
if number % 2 == 0:
   print("this is an even number")
elif number % 2 != 0:
  print(" this is not an even number")

Please enter a number: 6
this is an even number

##else

In [ ]:
#Challenge 3
# Let's write a program that reads a month and day from the user.
# If the month and day matches one of the holidays listed previously
# then the program should display the Kenyan holidayâ€™s name.
# Otherwise our program should indicate that the entered month and day
# do not correspond to a holiday. (You should use the else keyword)
import datetime

# Define a dictionary containing the holidays and their dates
holidays = {
    "New Year's Day": (1, 1),
    "Madaraka Day": (6, 1),
}

# Get input from the user
month = int(input("Enter the month (1-12): "))
day = int(input("Enter the day (1-31): "))

# Check if the date matches a holiday
for holiday_name, (holiday_month, holiday_day) in holidays.items():
    if month == holiday_month and day == holiday_day:
        print(f"Today is {holiday_name}!")
        break
else:
    print("The entered date is not a Kenyan holiday.")

Enter the month (1-12): 6
Enter the day (1-31): 6
The entered date is not a Kenyan holiday.

## And

In [ ]:
# Challenge 4:
# Given the 3 sides of a triangle x, y and z, let's find out
# whether the triangle is equilateral, isosceles or obtuse.
# Note: An equilateral triagnle has all sides are equal,
# isosceles means that two of the sides are equal but not the third one,
# obtuse means all 3 are different. The user will be prompted
# to provide the values of x, y and z
#
x = int(input("Enter side one of the triangle"))
y = int(input('Enter side two of the triangle'))
y = int(input('Enter side three of the triangle'))

if x == y and x == z:
  print("The triangle is and equilateral triangle ")
elif x ==y and x != z:
  print("The triangle is an isoscles triangle")
else :
   print("The triangle is a scalene triangle ")

Enter side one of the triangle6
Enter side two of the triangle7
Enter side three of the triangle9
The triangle is a scalene triangle

## Or

In [ ]:
# Challenge 5
# Let's write a program that prompts a letter from a user.
# When any of the letters a, e, i, o or u are entered,
# then your program should display a message indicating that the entered letter is a vowel.
# If the user enters y then your program should display a message
# indicating that sometimes y is a vowel, and sometimes y is a consonant.
# Else the program should display a message indicating that the letter is a consonant.
#

letter = input("Enter a letter: ")
vowels = "aeiouAEIOU"
if letter in vowels :
  print("This is a vowel ")
else :
  print("This is a consonant")

Enter a letter: h
This is a consonant

## For loop iterating through  a word

In [ ]:
# Example 1
# For loops can also used for iterating over a string as shown;
# Iterating through the string "moringa"
# The logic behind it is pretty much the same as that of looping through lists.

for y in "Claire":
  print(y)

C
l
a
i
r
e

#**Lists**

## creating lists

In [ ]:
# Challenge 1:
# Let's create a list of 3 counties in Kenya and then print out the list below;
#
counties = ["Nairobi", "Mombasa", "Nakuru"]
print(counties)

['Nairobi', 'Mombasa', 'Nakuru']

##adding elements to a list

In [ ]:
# Challenge 2:
#Add a fourth county to the county list
# that you defined above and then print out the list.
#
counties.append("Lamu")
print(counties)

['Nairobi', 'Mombasa', 'Nakuru', 'Lamu']

## updating elements in a list

In [ ]:
# Challenge 3
# Update the second county to the county list that
# you defined above and then print out the list.
# (NB: Update of choice)
#
counties[1] = "Kisumu"
print(counties)

['Nairobi', 'Kisumu', 'Nakuru', 'Lamu']

##Accessing elements from a list

In [ ]:
# Challenge 4
# Let's access the second item in the counties list above
#
county_two = counties[1]
print(county_two)

Kisumu

## Removing elements

In [ ]:
# Challenge 5
# Remove the third element from the counties list above
#
del counties[2];
print(counties)

['Nairobi', 'Kisumu', 'Lamu']

## Slicing a list

In [ ]:
# Challenge 6
# Print the last two items of the counties list
#
counties_finel = counties[-2:]
print(counties_finel)

['Kisumu', 'Lamu']

#**DIctionaries**

## Creating a dictionary

In [ ]:
# Challenge 1
# We can create a dictionary by placing a sequence of elements within curly braces,
# separated by commas as show in the following example.
# Let's create a dictionary my_new_friend
#
my_new_friend = {
    'name':'Femi',
    'age': 24
}

# print
print(my_new_friend)

{'name': 'Femi', 'age': 24}

## Adding elements to a dictionary

In [ ]:
# Challenge 2
# Adding a residence to my_new_friend dictionary that we had initially created
#
my_new_friend = {
    'name':'Femi',
    'age': 24
}

my_new_friend['residence'] = 'Nairobi'

# print out my_new_friend
print(my_new_friend)

{'name': 'Femi', 'age': 24, 'residence': 'Nairobi'}

## Updating elements in a dictionary

In [ ]:
# Challenge 3
# Let's update age on the dictionary my_new_friend
#
my_new_friend['age'] = 26

# print out
print(my_new_friend)

{'name': 'Femi', 'age': 26, 'residence': 'Nairobi'}

##Accessing elements in a dictionary

In [ ]:
# CHallenge 4
# Accessing my_new_friend dictionary
#
name_a = my_new_friend["name"]

# print name_a
print(name_a)

# or we could also
name_b = my_new_friend.get("name")

# print name_b
print(name_b)

Femi
Femi

## Checking if a key exists

In [ ]:
# Challenge 5
#check if a specified key exists within a dictionary through the use of the `in` keyword;
# Let's check if the keyword residence exists in my_new_friend dictionary
#
if "residence" in my_new_friend:
  print("Yes, the keyword exists in the dictionary")
else:
  print('No, the keyword does not exist in the dictionary')

Yes, the keyword exists in the dictionary

## Checking the number of elements in a dictionary

In [ ]:
# Challenge 6
# We can check if a specified key exists within a dictionary through the use of the `in` keyword;
# Let's check if the keyword residence exists in my_new_friend dictionary
#
if "residence" in my_new_friend:
  print("Yes, the keyword exists in the dictionary")
else:
  print('No, the keyword does not exist in the dictionary')

Yes, the keyword exists in the dictionary

## Removing elements from a dictionary

In [ ]:
# Challenge 7
# We can remove a specific item from the dictionary
# with the specified key name using the pop() method.
# The clear() method clears the items in the dictionary
# while the del keyword deletes the dictionary completely.

print(my_new_friend)

# Removing age from my_new_friend dictionary
updated_my_new_friend = my_new_friend.pop("age")

# printing out the updated dictionary
print(updated_my_new_friend)

{'name': 'Femi', 'age': 26, 'residence': 'Nairobi'}
26

In [ ]:

# printing out the cleared dictionary
print(updated_my_new_friend)

26

In [ ]:
# deleting the dictionary completely
del updated_my_new_friend

#**Functions**

In [ ]:
# Challenge 1
# let's create one that returns the maximum of two numbers;
#
def find_max(num1, num2):
  if num1 > num2:
    return num1
  else:
    return num2

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

max_number = find_max(num1, num2)
print("The maximum number is:", max_number)

Enter the first number: 5
Enter the second number: 6
The maximum number is: 6